<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <table class="table align-middle" style="width: 100%;">
        <tbody>
            <tr>
                <td class="title">Name: {{order.customer_name}}</td>
                <td class="title">Phone: {{order.phone_number}}</td>
            </tr>
            <tr>
                <td class="title">Order #: {{order.square_order_number}}</td>
                <td class="title">Total: {{"${:,.2f}".format(order.total)}}</td>
            </tr>
        </tbody>
      </table>
      <hr/>
      <table class="table align-middle" style="border-left: blank; width: 100%;">
        {% if order.note %}
        <caption><u>Note: {{ order.note }}</u></caption>
        {% endif %}
        <thead>
            <tr>
              <th class="mealHeaderL">Concert Tickets</th>
              <th class="mealHeaderMR">Dinner Tickets</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td class="mealValueL">{% if order.concert > 0 %}{{order.concert}}{% endif %}</td>
              <td class="mealValueMR">{% if order.dinner > 0 %}{{order.dinner}}{% endif %}</td>
            </tr>
        </tbody>
      </table>
      <hr/>
    </div>
  </body>
</html>
