google-cloud-firestore==2.7.2
google-cloud-storage==2.5.0
pytest-mock==3.10.0
PyMySQL==1.0.2
sqlalchemy==1.4.44
jinja2==3.1.2
weasyprint==56.1
git+https://github.com/bobcallaway/shillelagh@lastrow#egg=shillelagh