name: "order-mgr: Deploy to GCP"

on:
  push:
    branches:
      - main
    paths:
      - 'order-mgr/**'
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: order-mgr

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Set up auth
        uses: google-github-actions/auth@c4799db9111fba4461e9f9da8732e5057b394f72 # v0.8.3
        with:
          workload_identity_provider: projects/194415472833/locations/global/workloadIdentityPools/github-actions/providers/github
          service_account: github-actions@serverless-fish-fry.iam.gserviceaccount.com
          create_credentials_file: 'true'

      - name: Set up gcloud SDK
        uses: google-github-actions/setup-gcloud@ee9693ff89cdf73862b8a13988f6a71070e8fc58 # v0.6.2
        with:
          project_id: serverless-fish-fry

      - name: "Export environment variables to yaml file"
        env:
          SQUARE_ENVIRONMENT: production
          EVENT_DATE: "2022-11-05"
        run: |
          echo "SQUARE_ACCESS_TOKEN: \"${{ secrets.SQUARE_ACCESS_TOKEN }}\"" > .env.yaml
          echo "SQUARE_ENVIRONMENT: \"${SQUARE_ENVIRONMENT}\"" >> .env.yaml
          echo "SQUARE_LOCATION: \"${{ secrets.SQUARE_LOCATION }}\"" >> .env.yaml
          echo "EVENT_DATE: \"${EVENT_DATE}\"" >> .env.yaml

      - name: "Create square.order.created topic for pubsub"
        # if topic already exists this call will fail but that is OK
        continue-on-error: true
        run: |
          gcloud pubsub topics create projects/serverless-fish-fry/topics/square.order.created

      - name: "Deploy order-mgr-created function with a PubSub trigger"
        run: |
          gcloud functions deploy order-mgr-order-created --region us-east1 --entry-point handle_order_created --env-vars-file .env.yaml --runtime python310 --trigger-topic square.order.created --memory=128MB

      - name: "Create square.order.updated topic for pubsub"
        # if topic already exists this call will fail but that is OK
        continue-on-error: true
        run: |
          gcloud pubsub topics create projects/serverless-fish-fry/topics/square.order.updated

      - name: "Deploy order-mgr-updated function with a PubSub trigger"
        run: |
          gcloud functions deploy order-mgr-order-updated --region us-east1 --entry-point handle_order_updated --env-vars-file .env.yaml --runtime python310 --trigger-topic square.order.updated --memory=128MB

      - name: "Create square.payment.updated topic for pubsub"
        # if topic already exists this call will fail but that is OK
        continue-on-error: true
        run: |
          gcloud pubsub topics create projects/serverless-fish-fry/topics/square.payment.updated

      - name: "Deploy order-mgr-payment-updated function with a PubSub trigger"
        run: |
          gcloud functions deploy order-mgr-payment-updated --region us-east1 --entry-point handle_payment_updated --env-vars-file .env.yaml --runtime python310 --trigger-topic square.payment.updated --memory=128MB

      - name: "Create square.customer.updated topic for pubsub"
        # if topic already exists this call will fail but that is OK
        continue-on-error: true
        run: |
          gcloud pubsub topics create projects/serverless-fish-fry/topics/square.customer.updated

      - name: "Deploy order-mgr-customer-updated function with a PubSub trigger"
        run: |
          gcloud functions deploy order-mgr-customer-updated --region us-east1 --entry-point handle_customer_updated --env-vars-file .env.yaml --runtime python310 --trigger-topic square.customer.updated --memory=128MB
