name: "square-webhook: Deploy to GCP"

on:
  push:
    branches:
      - main
    paths:
      - 'square-webhook/**'
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: square-webhook

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

      - name: Set up auth
        uses: google-github-actions/auth@ef5d53e30bbcd8d0836f4288f5e50ff3e086997d # v1.0.0
        with:
          workload_identity_provider: projects/194415472833/locations/global/workloadIdentityPools/github-actions/providers/github
          service_account: github-actions@serverless-fish-fry.iam.gserviceaccount.com
          create_credentials_file: 'true'

      - name: Set up gcloud SDK
        uses: google-github-actions/setup-gcloud@ee9693ff89cdf73862b8a13988f6a71070e8fc58 # v0.6.2
        with:
          project_id: serverless-fish-fry

      - name: Create square.order.created topic for pubsub
        # if topic already exists this call will fail but that is OK
        continue-on-error: true
        run: |
          gcloud pubsub topics create projects/serverless-fish-fry/topics/square.order.created

      - name: Create square.order.updated topic for pubsub
        # if topic already exists this call will fail but that is OK
        continue-on-error: true
        run: |
          gcloud pubsub topics create projects/serverless-fish-fry/topics/square.order.updated
     
      - name: "Deploy square-webhook function with a HTTP trigger"
        run: |
           echo "SQUARE_WEBHOOK_SIGNATURE_KEY: ${{ secrets.SQUARE_WEBHOOK_SIGNATURE_KEY }}" > .env.yaml
           gcloud functions deploy square-webhook --region us-east1 --entry-point handle_webhook --env-vars-file .env.yaml --runtime python310 --trigger-http --allow-unauthenticated --memory=128MB
